<!DOCTYPE html>
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style1.css') }}">
    <link rel="stylesheet" href="{{ asset('css/templatemo-sixteen.css') }}">
    
<style>
 .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0;
}
.pagination li {
  display: inline-block;
  margin-top:20px;
}
.pagination li.active {
  font-weight: bold;
}
.pagination li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.pagination li a:hover {
  background-color: gray;
  color: black;
}
</style>
{% endblock %}


{% block body %}
<body data-new-gr-c-s-check-loaded="14.1123.0" data-gr-ext-installed="">
<div id="preloader">
<!-- ***** Preloader Start ***** -->
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    {% include "header.html.twig" %}
    <div class="container">
        <section class="products">
            <h1 class="heading">ALL PRODUCTS</h1>
            <div class="box-container">
                {% set productsPerPage = 9 %}
                {% set totalProducts = data|length %}
                {% set totalPages = (totalProducts / productsPerPage)|round(0, 'ceil') %}
                {% set currentPage = app.request.query.get('page', 1) %}
                {% set start = (currentPage - 1) * productsPerPage %}
                {% for sp in data[start:9] %}
                    <form action="{{ path('app_cart_add', {'product_id': sp.getId()}) }}" method="post">
                        <div class="box">
                            <div class="image-container">
                                <img src="{{ asset('uploads/product/' ~ sp.getPhoto()) }}" alt="">
                            </div>
                            <h3>{{ sp.getName() }}</h3>
                            <div class="price">{{ sp.getPrice()|number_format(2, '.', ',') }}$</div>
                            <button type="submit" class="btn" name="add_to_cart" style="background-color:black;line-height:3rem; font-size:1.7rem">Add to cart</button>
                            <a href="{{path('app_product_detail',{'id':sp.getId()})}}" class="btn btn-warning" style="font-weight:bold">More detail</a>
                            </div>
                    </form>
                {% endfor %}
            </div>
            <nav>
                <ul class="pagination">
                    {% for page in 1..totalPages %}
                        <li class="pagination pagination-lg {% if currentPage == page %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
                
            </div>
        </section>
    </div>
    </body>
{% endblock %}
{% include "footer.html.twig" %}
{% block javascripts %}
    <script src="assets/js/custom.js"></script>
{% endblock %}

</html>