{# {% form_theme sp_form 'bootstrap_5_layout.html.twig'%} #}
{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}
{# <body>
    <header>
        <h2 class="logo"> LOGO </h2>
            <nav class="navigation">            
                <a href="#">List of Products</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>

                <a href="{{path('app_logout')}}"> Logout</a>
            </nav>
    </header>
</body> #}

<div class="container">
{# <a href="{{path('app_add_staff')}}" class="btn btn btn-secondary btn-lg"> Add</a> #}


    <table class="table" 
        <thead>
            <tr>
                <th> STT </th>
                <th> Code Staff </th>
                <th> Name Staff </th>
                <th> Photo </th>
                <th> Number Phone </th>
                <th> Act </th>
            </tr>
         </thead>

         <tbody>
            {% for staff in data %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{staff.getId()}}</td>
                    <td>{{staff.getName()}}</td>
                    <td><img src="{{asset('uploads/product/' ~ staff.getPhoto())}}" height="200"</td>
                    <td>{{staff.getPhonenumber()}}</td>
                    <td>
                        <a href="{{path('app_edit_staff',{'id':staff.getId()})}}" class="btn btn-outline-dark"> Edit</a>
                        <a href="javascript:deletestaff('{{path('app_delete_staff',{'id':staff.getId()})}}')" class="btn btn-outline-dark"> Delete</a>
                        
                    </td>
                </tr>
             {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
{% block javascripts %}
<script>
    function deletestaff(url){
        if(confirm("Do you delete Staff?")){
            window.location.href = url;
        }
    }
</script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"/>
<link rel="stylesheet" href="{{asset('cssK/Base.css')}}"/>
<link rel="stylesheet" href="{{asset('cssK/Stafflist.css')}}"/>
{% endblock %}