{% extends 'base.html.twig' %}

{% block title %}List of Order{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
{# <style>
    .display-product-table table {
      width: 80%;
      text-align: center;
    }
    .container{
    font-family:Palatino;
}

    .display-product-table table thead th {
      padding: 1rem;
      font-size: 1rem;
      font-family:Palatino;
      background-color: #708090;
      color: white;
    }

    .display-product-table table td {
      padding: 1rem;
      font-size: 1rem;
      color: var(--black);
      background-color: var(--black);
    }

    .display-product-table table td:first-child {
      padding: 0;
    }

    .display-product-table table tr:nth-child(odd) {
      background-color: #f9f9f9;
      color: black;
    }

    .display-product-table table tr:nth-child(even) {
      background-color: #ececec; 
      color: black;
    }

    .display-product-table .empty {
      margin-bottom: 2rem;
      text-align: center;
      background-color: var(--bg-black);
      color: var(--black);
      font-size: 2rem;
      padding: 1.5rem;
    }
   
    
    .btn {
      width: 20%;
      text-align: center;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
    }
    

    .btn.btn-danger {
      background-color: red;
      color: #ececec;
    }
 .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0;
}

.check-red {
    color: red;
  }

</style> #}

<div class="container">
    <div style="align-items: center">
        {# <section class="display-product-table"> #}
        <div style="display: flex; justify-content: center;">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="text-align:left">Customer Name</th>
                        <th style="text-align:left">Customer Address</th>
                        <th style="text-align:left">Customer Phone</th>
                        <th style="text-align:left">Date Out</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set productsPerPage = 5 %}
                    {% set totalProducts = data|length %}
                    {% set totalPages = (totalProducts / productsPerPage)|round(0,"ceil") %}
                    {% set currentPage = app.request.query.get('page', 1) %}
                    {% set start = (currentPage - 1) * productsPerPage %}
                    {% set sortedData = data|sort((a, b) => a.isStatus() == 1 ? 1 : -1) %}

                    {% for order in sortedData[start:5] %}
                    <tr>
                        <td style="vertical-align: middle;">{{ order.getid() }}</td>
                        <td style="vertical-align: middle;text-align:left">{{ order.getCustomerName() }}</td>
                        <td style="vertical-align: middle;text-align:left">{{ order.getCustomerAddress() }}</td>
                        <td style="vertical-align: middle;text-align:left">{{ order.getCustomerPhone() }}</td>
                        <td style="vertical-align: middle;text-align:left">{{ order.getDateOut()|date('d-m-Y') }}</td>
                        <td style="vertical-align: middle;">{{ order.TotalPrice()|number_format(2, '.', ',') }}$</td>
                        <td style="vertical-align: middle;">
                            {% if order.isStatus() == 1 %}
                            done
                            {% else %}
                            pending
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle;">
                            <a href="{{ path('app_orderitem_view', {'id': order.getId()}) }}"  ><span class="icon-bg-gray"><i class="fas fa-info-circle"></i></span></a>
                            <a href="javascript:confirmch('{{ path('app_mark', {'id': order.getId()}) }}')"><i class="fas fa-check check-red ms-2"></i>  </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <ul class="pagination">
                {% for page in 1..totalPages %}
                    <li class="page-item {% if currentPage == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    function confirmch(url) {
        if (confirm("Are you sure?!")) {
            window.location.href = url;
        }
    }
</script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"/>
<link rel="stylesheet" href="{{asset('cssK/Base.css')}}"/>
<link rel="stylesheet" href="{{asset('cssK/Oderlist.css')}}"/>
{% endblock %}